.hero{
    height: 105vh;
    background: linear-gradient(180deg, #50C4ED, white 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}
.hero-hand-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero-hand-icon img{
    width: 105px;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #59D5E0;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero-right{
    margin-top: 5px;
    margin-right: 55px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-right img{
    width: 550px;
}